<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text="${about}">Insert title here</title>
</head>
<body>

<section>
<div id="login">
        <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:250px" class="col-md-12">
                        <!-- This is email form -->
                        
                        <div  th:if="${session.message}"  class="alert alert-danger" role="alert">
						<p class="text-center" th:text="${session.message}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
                        
                        <h4 class="text-center m-3">Your Register Email</h4>
                        
                        <form action="" th:action="@{/send-otp}" method="post" >
                        
                        	<div class="form-group">
                        	
                        		<input required name="email" type="email" placeholder="Enter Email Here" class="form-control" />
                        	
                        	</div>
                        	
                        	<div class="container text-center mt-3">
                        	
                        		<button type="submit" class="btn btn-warning" >Send OTP</button>
                        	
                        	</div>
                        
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>

</body>
</html>